.product-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.product-form {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.product-card {
  background-color: lightgray;
  padding: 2rem;
}
.product-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  background-color: white;
}
.product-name {
  font-size: 1.3rem;
  font-weight: bolder;
}
